<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-if="http://www.w3.org/1999/xhtml"
      xmlns:v="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script src="library/vue.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--将 dom 元素与 vue 实例绑定，之后便可在此 dom 元素下使用 vue 实例中的方法与变量，这就是 vue 的核心：声明式渲染-->
<div id="vue_id">
    {{message}}
    <!--可以将 dom 元素的某个属性与 vue 实例的某个变量绑定，这就是 v-bind 的作用-->
    <span v-bind:title="message">鼠标放这里看看</span>


    <!--条件与循环，当条件满足时，dom 元素会出现-->
    <!--可以是常量-->
    <p v-if="true">true</p>
    <p v-if="1">v-if 中可以是常量：1</p>
    <!--可以是表达式-->
    <p v-if="message.length > 0"> v-if 中可以是表达式：{{message}}</p>

    <!--下面演示 if-else-->
    <p v-if="false">条件为真</p>
    <p v-else="true">条件为假</p>

    <!--演示 v-for-->
    <ol>
        <!--形式1，只取值-->
        <li v-for="item in arr">{{item}}</li>
    </ol>
    <ul>
        <!--形式2，值与 key 均取，key是数组真正的索引，而不仅仅是数字形式的下标，即如果 arr 是关联数组，则 key 为真正的 key-->
        <li v-for="(value, key) in arr">{{value}}-{{key}}</li>
    </ul>

    <!--上面演示了dom 元素如何绑定 vue 实例的属性，下面演示如下如何将 js 的事件与vue实例进行绑定的方法-->
    <!--change 是事件的一种类型，还有如click等-->
    <input type="text" v-on:change="toUpper">

    <!--表单控件如何与 vue 实例属性值双向绑定:v-model-->
    <input type="text" v-model="message">
</div>

<script>
    // 小技巧：此时打开页面的 console，可直接查看vue_obj对象的内容，应该是：所有全局变量都可查看
    var vue_obj = new Vue({
        // 声明此元素的id，前面必须有#，
        el:"#vue_id",
        // data:vue的属性必须放在此
        data:{
            // 当然，这里应该支持写 js 语句
            message:"现在时间为" + new Date().toLocaleString(),
            arr:['one', 'two', 'three', 'four'],
        },
        // methods:vue的方法必须放在此
        methods:{
            toUpper:function () {
                // 当然这里可以使用自己的成员变量
                 alert(this.message);
             }
        }
    });
</script>

</body>
</html>