<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-if="http://www.w3.org/1999/xhtml"
      xmlns:v="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script src="library/vue.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--将 dom 元素与 vue 实例绑定，之后便可在此 dom 元素下使用 vue 实例中的方法与变量，这就是 vue 的核心：声明式渲染-->
<div id="vue_id">
    <!--这里支持写js表达式，不过，只能包含单个表达式-->
    {{message}}
    <!--可以将 dom 元素的某个属性与 vue 实例的某个变量绑定，这就是 v-bind 的作用-->
    <span v-bind:title="message">鼠标放这里看看</span>


    <!--条件与循环，当条件满足时，dom 元素会出现-->
    <!--可以是常量-->
    <p v-if="true">true</p>
    <p v-if="1">v-if 中可以是常量：1</p>
    <!--可以是表达式-->
    <p v-if="message.length > 0"> v-if 中可以是表达式：{{message}}</p>

    <!--下面演示 if-else-->
    <p v-if="false">条件为真</p>
    <p v-else="true">条件为假</p>

    <!--演示 v-for-->
    <ol>
        <!--形式1，只取值-->
        <li v-for="item in arr">{{item}}</li>
    </ol>
    <ul>
        <!--形式2，值与 key 均取，key是数组真正的索引，而不仅仅是数字形式的下标，即如果 arr 是关联数组，则 key 为真正的 key-->
        <li v-for="(value, key) in arr">{{value}}-{{key}}</li>
    </ul>

    <!--上面演示了dom 元素如何绑定 vue 实例的属性，下面演示如下如何将 js 的事件与vue实例进行绑定的方法-->
    <!--change 是事件的一种类型，还有如click等-->
    <input type="text" v-on:change="toUpper">

    <!--表单控件如何与 vue 实例属性值双向绑定:v-model-->
    <input type="text" v-model="message">

    <!--自定义 vue 组件，可将 vue 组件理解成就是一个自定义的 html 标签-->
    <vue_component_name></vue_component_name>
    <vue_component_name></vue_component_name>

    <!--需要使用v-bind将组件自定义的属性another_message与Vue实例的属性message绑定起来，这是第二步，也是最后一步-->
    <another_vue_component_name v-bind:another_message="message"></another_vue_component_name>
</div>

<script>

    // 定义并注册组件，必须放在new Vue之前。vue_component_name是组件的名称
    Vue.component('vue_component_name', {
        template:'<p>这是 vue 自定义的组件(html标签)</p>',
    });

    // 演示如何在自定义组件中引用Vue实例的属性
    Vue.component('another_vue_component_name', {
        // 1. another_message相当于是组件自定义的属性，这只是引用Vue实例属性的第一步
        props:['another_message'],
        template:'<p>要在自定义组件中引用Vue实例中的属性还是要费此小功夫,绑定的message为：{{another_message}}</p>',
    });

    // 小技巧：此时打开页面的 console，可直接查看vue_obj对象的内容，应该是：所有全局变量都可查看
    var vue_obj = new Vue({
        // 声明此元素的id，前面必须有#，
        el:"#vue_id",
        // data:vue的属性必须放在此
        data:{
            // 当然，这里应该支持写js表达式，但是，只能包含单个表达式
            message:"现在时间为" + new Date().toLocaleString(),
            arr:['one', 'two', 'three', 'four'],
        },
        // methods:vue的方法必须放在此
        methods:{
            toUpper:function () {
                // 当然这里可以使用自己的成员变量
                 alert(this.message);
             }
        },
        // 生命周期的勾子总共有8个：beforeCreate、created、beforeMount、mounted、beforeUpdate、updated、beforeDestroy、
        beforeCreate: function () {
            alert('打开console查看Vue的完整生命周期的勾子');
            console.log('下面依次是勾子调用的顺序：');
            console.log('beforeCreate');
        },
        created:function () {
            console.log('created');
        },
        beforeMount: function () {
            console.log('beforeMount');
        },
        mounted: function () {
            console.log('mounted');
        },
        beforeUpdate:function () {
            console.log('beforeUpdate');
        },
        updated:function () {
            console.log('update勾子只有在model变化时才发生');
            console.log('updated');
        },
        beforeDestroy:function () {
            console.log('beforeDestroy');
        },
        destroyed:function () {
            console.log('destroyed');
        }
    });
</script>
<!--
指令：
    指令 (Directives)是带有v-前缀的特殊属性。指令属性的值预期是单个JavaScript表达式（v-for是例外情况）。注意，是js的表达式;
    一些指令能够接收一个“参数”，在指令名称之后以冒号表示，如v-bind:href、v-on:click
-->
</body>
</html>