<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-if="http://www.w3.org/1999/xhtml"
      xmlns:v="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script src="library/vue.js"></script>
    <meta charset="UTF-8">
    <title>Vue常见用法</title>
</head>
<body>

<!--将 dom 元素与 vue 实例绑定，之后便可在此 dom 元素下使用 vue 实例中的方法与变量，这就是 vue 的核心：声明式渲染-->
<div id="vue_id">
    <!--这里支持写js表达式，不过，只能包含单个表达式-->
    {{message}}
    <!--可以将 dom 元素的某个属性与 vue 实例的某个变量绑定，这就是 v-bind 的作用-->
    <span v-bind:title="message">鼠标放这里看看</span>


    <!--条件与循环，当条件满足时，dom 元素会出现-->
    <!--可以是常量-->
    <p v-if="true">true</p>
    <p v-if="1">v-if 中可以是常量：1</p>
    <!--可以是表达式-->
    <p v-if="message.length > 0"> v-if 中可以是表达式：{{message}}</p>

    <!--下面演示 if-else-->
    <p v-if="false">v-if</p>
    <p v-else-if="true">v-else-if</p>
    <p v-else="true">v-else</p>

    <!--演示 v-for-->
    <ol>
        <!--形式1，只取值-->
        <li v-for="item in arr">{{item}}</li>
    </ol>
    <ul>
        <!--形式2，值与 key 均取，key是数组真正的索引，而不仅仅是数字形式的下标，即如果 arr 是关联数组，则 key 为真正的 key-->
        <li v-for="(value, key) in arr">{{value}}-{{key}}</li>
    </ul>
    <ol>
        <!--v-for可用在对象上，此时查看key的含义更清晰-->
        <li v-for="(value, key) in obj">
            {{key}}:{{value}}
        </li>
    </ol>

    <!--上面演示了dom 元素如何绑定 vue 实例的属性，下面演示如下如何将 js 的事件与vue实例进行绑定的方法-->
    <!--change 是事件的一种类型，还有如click等-->
    <input type="text" v-on:change="toUpper">

    <!--表单控件如何与 vue 实例属性值双向绑定:v-model-->
    <input type="text" v-model="message">

    <!--自定义 vue 组件，可将 vue 组件理解成就是一个自定义的 html 标签-->
    <vue_component_name></vue_component_name>
    <vue_component_name></vue_component_name>


    {{'这是计算属性：' + reverseMessage}}  <br>
    可直接调用Vue实例的方法：{{fn()}}<br>

    <!--vue的过滤器，利用管道命令将message当作参数传递给自定义的过滤器(其实就是一个函数)filter_name1，并且显示为过滤器函数的值-->
    简单的过滤器：{{message | filter_name1}} <br>

    <!--message作为filter_name1函数的参数传递，filter_name1的结果作为filter_name2的参数传递-->
    过滤器可以串联：{{message | filter_name1 | filter_name2}} <br>

    <!--过滤器只是一个JavaScript函数，因此可以接收参数-->
    过滤器可接收额外的参数：{{message | filter_name3('param2', 'param3') }} <br>

    <!--局部组件-->
    <local_component></local_component>

    <!--子组件接收父组件的数据，必须使用v-bind进行绑定(当然这里也可以绑定常量值)，此时父组件的message值发生改变也会传递到子组件的name上-->
    <local_component2 v-bind:name="message"></local_component2>

</div>

<script>

    // 定义并注册组件，必须放在new Vue之前。vue_component_name是组件的名称
    Vue.component('vue_component_name', {
        template:'<p>这是 vue 自定义的组件(html标签)</p>',
    });

    // 小技巧：此时打开页面的 console，可直接查看vue_obj对象的内容，应该是：所有全局变量都可查看
    var vue_obj = new Vue({
        // 声明此元素的id，前面必须有#，
        el:"#vue_id",
        // data:vue的属性必须放在此
        data:{
            // 当然，这里应该支持写js表达式，但是，只能包含单个表达式
            message:"现在时间为" + new Date().toLocaleString(),
            arr:['one', 'two', 'three', 'four'],
            obj:{
                name:'univ',
                age:28
            }
        },
        // methods:vue的方法必须放在此
        methods:{
            toUpper:function () {
                // 当然这里可以使用自己的成员变量
                 alert(this.message);
            },
            fn: function () {
                return '这是Vue实例方法返回的内容';
            }
        },
        // 生命周期的勾子总共有8个：beforeCreate、created、beforeMount、mounted、beforeUpdate、updated、beforeDestroy、
        beforeCreate: function () {
            //alert('打开console查看Vue的完整生命周期的勾子');
            console.log('下面依次是勾子调用的顺序：');
            console.log('beforeCreate');
        },
        created:function () {
            console.log('created');
        },
        beforeMount: function () {
            console.log('beforeMount');
        },
        mounted: function () {
            console.log('mounted');
        },
        beforeUpdate:function () {
            console.log('beforeUpdate');
        },
        updated:function () {
            console.log('update勾子只有在model变化时才发生');
            console.log('updated');
        },
        beforeDestroy:function () {
            console.log('beforeDestroy');
        },
        destroyed:function () {
            console.log('destroyed');
        },
        // 计算属性放在computed下，很重要，如后台返回时间戳，前台可通过计算属性格式化成年月日等格式
        computed: {
            // 相当于是新定义了一个属性，可直接在{{}}中或者v-bind中使用
            reverseMessage: function () {
                return this.message.split('').reverse().join('')
            }
        },
        // 侦听属性，放在watch下.
        // 计算属性在大多数情况下更合适，但当需要在数据变化时执行异步或开销较大的操作时，侦听方式是最有用的
        watch:{
            // firstName与lastName是要监听的属性
            message:function (old_value, new_value) {
                console.log('改变之前：' + old_value);
                console.log('改变之后：' + new_value);
            }
        },
        // 所有的过滤器放在filters下。
        filters:{
            // value：由管道命令传递过来的参数
            filter_name1:function (value) {
                return '从管道命令传来的参数为：' + value;
            },
            filter_name2:function (value) {
                return '第二次传来的管道命令为：' + value;
            },
            // value:通过管道传过来的参数;
            filter_name3:function (value, arg2, arg3) {
                return '从管道命令传来的参数为：' + value + ' ; 第二个参数为：' + arg2 + ' ; 第三个参数为：' + arg3;
            }
        },
        // 局部组件
        components:{
            // local_component是自定义组件的名称，任取
            local_component:{
                template:"<p>这是自定义的vue局部组件,内部的自定义的属性local_name值为：{{local_name}}</p>",
                // 构造 Vue 实例时传入的各种选项大多数都可以在组件里使用。只有一个例外：data 必须是函数
                data: function (){
                    return {
                        local_name:"这是自定义局部组件的名称"
                    }
                }
            },
            local_component2:{
                // props属性的含义是：用来接收父组件的数据，与父组件进行通信。具体到这里则是，此子组件想通过name与父组件进行通信；
                props:['name'],
                template:"<p>局部组件：父组件通过props传递数据给子组件,这里绑定的值为：{{name}}</p>",
                // props是子组件与父组件沟通的桥梁，而这里的data则是子组件自定义的属性
                data: function (){
                    return {
                        local_name:"这是自定义局部组件的名称"
                    }
                }
            },
        }
    });
</script>
<!--
指令：
    指令 (Directives)是带有v-前缀的特殊属性。指令属性的值预期是单个JavaScript表达式（v-for是例外情况）。注意，是js的表达式;
    一些指令能够接收一个“参数”，在指令名称之后以冒号表示，如v-bind:href、v-on:click

计算属性VS方法：
    计算属性有缓存，即计算属性只有在它的相关依赖发生改变时才会重新求值;
    {{}}中直接调用方法会每次都执行;

过滤器VS计算属性
    计算属性是基于当前Vue实例的属性进行的，而过滤器则是把内容(可能是后端返回的、不一定是Vue实例属性值)放进过滤器中并返回处理后的结果；
-->
</body>
</html>